.header {
  max-width: 880px;
  height: 74px;
  margin: 45px auto 40px;
  background: url(../../images/logo.svg) no-repeat content-box;
  border-bottom: 1px solid #545454b3;
}

@media screen and (max-width: 940px) {
  .header {
    padding-left: 27px;
  }
}
@media screen and (max-width: 680px) {
  .header {
    margin-top: 28px;
    background-size: 104px 25px;
    height: 56px;
  }
}
