.place-card__delete {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: url(../../../images/del-button.svg) no-repeat;
  padding: 0;
  cursor: pointer;
}

.place-card__delete:hover {
  opacity: 0.5;
}
