.popup__close {
  position: absolute;
  top: -28px;
  right: -28px;
  background: url(../../../images/close-button.svg) no-repeat center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-size: cover;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 525px) {
  .popup__close {
    top: -36px;
    right: 0px;
  }
}
