.profile__job {
  width: 70%;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 699px) {
  .profile__job {
    text-align: center;
    font-size: 14px;
  }
}
