.place-card__like {
  border: none;
  background: url(../../../images/like-buton.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 19px;
  width: 22px;
  padding: 0;
}

.place-card__like:hover {
  opacity: 0.5;
}
